:root {
  --corBlue100: #e0e8ffff; /* Cor de fundo */
  --corBlue700: #3829e0ff; /*  */
  --corBlue50: #f5f7ffff; /**/
  --corGray600: #7280a7ff; /**/
  --corBlue950: #1f2f56ff; /**/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--corBlue100);
}
